*{ 
    font-family: helvetica,sans-serif;
    font-size:12px;
}

.highlight {
    color:#e38d13;
    font-family: 'Oswald', sans-serif;
	font-size: 16px;
}

.margintop {
    margin-top:15px;
}

@import url('https://fonts.googleapis.com/css?family=Oswald');

.titulo{
	font-family: 'Oswald', sans-serif;
	font-size: 5em;
}
.panel-title{
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
}
.panel-body{
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
}
span{
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
}

@media only screen and (max-width: 480px) {
    .col-sm-12{
        font-family: 'Oswald', sans-serif;
		font-size: 5px;
    }
}

.input-group-addon{
	font-family: 'Oswald', sans-serif;
	font-size: 15px;
}